body{
    background-color: #D1D1D1;
}
h1 {
    color: rgb(61, 163, 177);
    text-align: center;
    padding: 20px;
    border: 2px dashed rgb(61, 163, 177);
}
p {
    font-weight: 200;
    font-family: monospace;
}
h3{
    color: lightseagreen;
    text-align: center;
    padding: 50px;
    border: 2px solid lightseagreen;
    box-sizing: border-box;
}
button{
    border-radius: 5px;
    background-color: black;
    color: red;
}
#texto{
    color: lightcoral;
    text-align: center;
}
.container{
    width: 150;
    height: 75px;
    background-color: powderblue;
    border-radius: 45px;
}
#razones{
    color: crimson;
    text-align: left;
    border: none;
}
.contenedor1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.lista{
    background-color: steelblue;
    width: 200px;
    height: 200px;
    padding: 15px;
list-style: none;
border-radius: 10px;
box-sizing: border-box;
}
h2{
    font-family: monospace;
}
input{
    background-color: aquamarine;
    padding: 40px;
    border: 2px dashed lightseagreen;
    box-sizing: border-box;
}
#noc{
    border: none;
    color: black;
    font-family: monospace;
}
#foto2{
    float: left;
}
